MONGODB_URI=
MONGODB_URI_REPLICATION=

# TOKEN GENERATE KEY:
ACCESS_TOKEN_KEY_SECRET=
REFRESH_TOKEN_KEY_SECRET=

# CLOUDINARY API_SECRET KEY:
CLOUDINARY_URL=
CLOUDINARY_API_SECRET=

# MYSQLDB
MYSQL_DB_PORT=3306
MYSQL_DB_HOST=127.0.0.1

DB_USER=admin
DB_PASSWORD=12345678
DB_NAME=BEPLORE
DB_CONNECTION_LIMIT=20
SERVER_PORT=3000

NODE_ENV=development
